* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;


}

.main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #f1faee;
    overflow: hidden;
}



.main-one {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}


.main-one h1 {
    margin-bottom: 40px;
    font-size: 40px;
    color: #264653;
}

.main-one p {
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
}

.main-one a {
    text-decoration: none;
}


.timeline {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #a7dfcc;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(250, 244, 244);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}


.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}


.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(174, 43, 43);
    border: 2px solid #f4f2f0;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}

.right {
    left: 50%;
}


.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid rgb(28, 27, 27);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgb(28, 27, 27);
}


.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid rgb(28, 27, 27);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(28, 27, 27) transparent transparent;
}


.right::after {
    left: -16px;
}


.content {
    padding: 20px 30px;
    background-color: rgb(216, 210, 210)white;
    position: relative;
    border-radius: 6px;
}


@media screen and (max-width: 600px) {

    .main {
        flex-direction: column;
        padding: 0;
    }


    .timeline::after {
        left: 31px;
    }


    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }


    .container::before {
        left: 60px;
        border: medium solid rgb(28, 27, 27);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgb(28, 27, 27) transparent transparent;
    }


    .left::after,
    .right::after {
        left: 15px;
    }


    .right {
        left: 0%;
    }
}

.quote {
    color: #edf2f4;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    font-size: 46px;
    background-color: #2b2d42;
    padding: 42px;

}

.quote .heading {
    font-style: italic;
    font-size: 20px;
}

.quote .name {
    font-style: italic;
    font-size: 20px;
}